/* Mobile First Approach */
@media (max-width: 576px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .book-card {
        margin-bottom: 15px;
    }

    .navbar-brand {
        font-size: 1.1rem;
    }

    .cart-item {
        flex-direction: column;
        text-align: center;
    }

    .cart-item-image {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .book-card {
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/* Print Styles */
@media print {
    .navbar, .footer, .btn {
        display: none !important;
    }

    .container {
        width: 100%;
        max-width: none;
    }
}